html{
		background-color: #A9A9A9;
		margin: 0;
    	padding: 0;
	}
h1
	{
			background: black;
			color: white;
			text-align: center;
			font-weight: bold;	
			
	}
h2
	{
		color: black;
		text-align: left;	
		font-weight: bold;
		font-style: italic;
		font-family: 'Source Sans Pro', sans-serif;		
	}

a:link, a:visited{
			text-decoration: none;
			
			
			color: black;
			

			
}

a:hover, a:active{
	color: red;

}

	