html{
		background-color: #A9A9A9;
		margin: 0;
    	padding: 0;
	}
h1
	{
			background: black;
			color: white;
			text-align: center;
			font-weight: bold;
			border: 5px solid white;

			
	}
h2
	{
				
		text-align: center;
		color: black;
			
		font-weight: bold;
		font-style: italic;
		font-family: 'Source Sans Pro', sans-serif;		
	}

a:link, a:visited{
			text-decoration: none;
			
			
			color: black;
			

			
}
p{
			
			text-align: center;
		}	

a:hover, a:active{
	color: red;

}

		section
		{
  			border: 5px solid black;
  			margin-left: 200px;
  			margin-right: 200px;
  		
		}

::selection {
 			color: white;
  			background: black;
		}